
<div class="container">
    <form  novalidate class="myForm2" name="myForm2">
        <div class="nomeInstrutor">
            <label for="nome">Título do Livro:</label>
            <input class="form-control " type="text" name="titulo" ng-model ="livro.Titulo"  placeholder="Digite  o título do livro"required ng-minlength="3" ng-maxlength="20"></input>
        </div>
        <div class="sobrenome">
            <label for="nome">Descricão:</label>
            <input class="form-control" type="text" name="descricao" ng-model ="livro.Descricao"  placeholder="digite a descricão do livro" ng-maxlength="20"></input>
        </div>
        <div class="idade">
            <label for="idadeInstrutor">Gênero:</label>
            <input class="form-control" type="text" name="genero" ng-model ="livro.Genero"  required placeholder="max 90" max="90"></input>
        </div>
        <div class="idade">
            <label for="idadeInstrutor">Nome do autor:</label>
            <input class="form-control" type="text" name="autor" ng-model ="livro.Autor.Nome"  required placeholder="max 90" max="90"></input>
        </div>

        <div class="capa">
            <label for="emailInstrutor">Capa do livro:</label>
            <input class="form-control" type="img" name="capa" ng-model ="livro.Capa" placeholder="digite o email" required></input>
        </div>
        </div>
           <div class="incluirInstrutor">
              <button class="btn btn-primary" type="button" ng-click= "salvar(livro)" name="button">salvar</button>
          </div>
   </form>
<table class= "tableClass  table table-hover table2">
   <thead>
       <th>Capa</th>
       <th>Título</th>
       <th>Descricão</th>
       <th>Gênero</th>
       <th>Autor</th>

 </thead>
 <tbody>
   <tr ng-repeat ="livro in livros">
     <td> <img  ng-src="{{livro.Capa}}"></td>
     <td>{{livro.Titulo}}</td>
     <td>{{livro.Descricao}}</td>
     <td>{{livro.Genero}}</td>
     <td>{{livro.Autor}}</td>
     <td><input type="button" class="btn btn-primary" name="editar" value="Editar"ng-click="editar(livro)"></td>
     <td><input type="button" class="btn btn-primary" name="excluir" value="Excluir"ng-click="deletar(livro)"></td>
   </tr>
 </tbody>
</table>
</div>
