
body{
  background-color: #fafafa;
  margin:0;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}
.firstblock  {
  background-color: #c4170c;
  font-weight: bold;
  color: white;
  text-align : center;
  line-height: 300%;
  font-size: 25px;
}
.header {
  font-weight: bold;
  color: #c4170c;
  font-size: 30px;
  text-align: justify;
  height: 10%;
}
.texto> P{
  color:  #333;
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  margin-top: 0;
}
.bloco{
  background-color:#fff;
  margin: 0 0 30px 30px;
  border: 2px solid silver;
  border-radius: 3px;
  width: 38%;
  padding: 5px 60px 20px 40px;
  float: auto;
}
.img > img {
 float: right;
  width : 30%;
  margin: 13px 0 0 13px;
}
.subtitulo > p {
  font-weight: bold;
  color: #bbb;
  font-size: 18px;
  text-align: justify;
  height: 10%;
  clear: both;
  margin-top: 0;
}
.texto > p::first-letter {
  font-weight: bold;
  color: #c4170c;
  font-size: 80px;
  float: left;
  margin-top: 17px;
  margin-right: 5px;
  text-align: justify;
}
.b1 {
  float: right;
}
.b2 {
  float: left;
}
.b3 {
  float:right;
}
.time{
  color: silver;
  text-align: right;
}
.container {
  padding: 30px 60px;
}
