<div class="menu">
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/cadastro">Cadastrar</a>
  </div>
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/informaOCliente">Buscar Cliente </a>
  </div>
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/devolucao">Devolução </a>
  </div>
  <div class="m">
    <a class="btn btn-default  b" ng-href="#!/relatorioDeAtraso">Relatório de Atraso </a>
  </div>
  <div ng-if="auth.possuiPermissao('Gerente')">
    <a class="btn btn-default  b" ng-href="#!/relatorioDeLocacao">Relatório de Locação </a>
  </div>
  <div class="">
    <a  class="btn btn-default  b" ng-click="logout()">Logout</a>
  </div>
</div>
<div class="container">
    <form  novalidate class="cadastro" name="cadastro">
        <div class="cadastro">
            <label for="titulo">Nome completo do cliente:</label>
            <input class="form-control " type="text" name="nome" ng-model ="cliente.Nome"></input>
        </div>
        <div class="">
            <label for="cpf">CPF:</label>
            <input class="form-control" type="text" name="cpf" ng-model ="cliente.Cpf"  ></input>
        </div>
        <div class="">
            <label for="rg">RG:</label>
            <input class="form-control" type="text" name="rg" ng-model ="cliente.Rg"  ></input>
        </div>
        <div class="">
            <label for="endereco">Endereco:</label>
            <input class="form-control" type="text" name="endereco" ng-model ="cliente.Endereco" ></input>
        </div>
        <div class="">
            <label for="data">Data de Nascimento</label>
            <input class="form-control" type="date" name="data" ng-model ="cliente.DataDeNascimento" ></input>
        </div>
        <div class="">
            <label for="telefone">Telefone</label>
            <input class="form-control" type="text" name="telefone" ng-model ="cliente.Telefone" ></input>
        </div>
        <label for="genero">Gênero</label>
        <select name = "genero" ng-model="cliente.Genero" >
             <option value = "Masculino">Masculino</option>
             <option value= "Femino">Feminino</option>
             <option value= "Não informado">Prefiro não informar</option>
        </select>
           <div class="d2">
              <button class="btn btn-primary" type="button" ng-click= "cadastrar(cliente)" name="button">salvar</button>
          </div>
   </form>
 </div>
