<div class="menu">
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/cadastro">Cadastrar</a>
  </div>
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/informaOCliente">Buscar Cliente </a>
  </div>
  <div class="m">
    <a class="btn btn-default  bi" ng-href="#!/devolucao">Devolução </a>
  </div>
  <div class="m">
    <a class="btn btn-default  b" ng-href="#!/relatorioDeAtraso">Relatório de Atraso </a>
  </div>
  <div ng-if="auth.possuiPermissao('Gerente')">
    <a class="btn btn-default  b" ng-href="#!/relatorioDeLocacao">Relatório de Locação </a>
  </div>
  <div class="">
    <a  class="btn btn-default  b" ng-click="logout()">Logout</a>
  </div>
</div>
<div class="container containerProduto">
    <div class="pedido"    ng-if="mostrarBotaoDeOrcamento()">
      <button type="button" name="button" class="btn btn-primary" ng-click="orcamento()">Gerar Orcamento</button>
    </div>
    <div class=""  ng-hide="gerarOrcamento">
      <label for="data">Selecione a Data de Entrega</label>
      <input type="date"  class="form-control"  name="data" ng-model="data" value="">
      <label for="pacote">Selecione o pacote</label>
      <input type = "text" name="pacote" class="form-control"ng-model="search.Nome" placeholder= "buscar pacote"> </input>
      <label for="imovel">Selecione o imóvel</label>
      <input type = "text" name="imovel" class="form-control"ng-model="search.Tipo" placeholder= "buscar tipo de imóvel"> </input>
    </div>
    <table class= "table table-hover table1"  ng-if="mostrarPacotes()">
     <thead>
       <th>Pacote</th>
       <th>Tipo</th>
       <th>Quantidade</th>
       <th>Valor da Diária</th>
     </thead>
     <tbody>
       <tr ng-repeat ="pacote in  pacotes | filter: search">
         <td>{{pacote.Nome}}</td>
         <td>{{pacote.Tipo}}</td>
         <td>{{pacote.Quantidade}}</td>
         <td>R$ {{pacote.PrecoDaDiaria}},00</td>
         <td><input type="button" class="btn btn-primary" name="editar" value="Selecionar" ng-click ="selecionar(pacote)"></td>
       </tr>
     </tbody>
    </table>
    <table class= "table table-hover table2"  ng-if="mostrarOpcionais">
     <thead>
       <th>Nome</th>
       <th>Tipo</th>
       <th>Quantidade</th>
       <th>Valor da Diária</th>
     </thead>
     <tbody>
       <tr ng-repeat ="opcional in  opcionais">
         <td>{{opcional.Nome}}</td>
         <td>{{opcional.Tipo}}</td>
         <td>{{opcional.Quantidade}}</td>
         <td>R$ {{opcional.PrecoDaDiaria}},00</td>
         <td><input type="button" class="btn btn-primary" name="editar" value="Add" ng-click ="add(opcional, cliente)"></td>
       </tr>
     </tbody>
    </table>
<div  class="" ng-if="gerarOrcamento">
  <a  ng-href="#!/informaOCliente">
    <button type="button" name="button" class="btn btn-primary" ng-click="fazerPedido()">Finalizar Reserva</button>
  </a>
     <table class= "tableDevolucao table table-hover">
         <thead>
           <tr>
               <th>Produto Id</th>
               <th>Nome</th>
               <th>Tipo</th>
               <th>Preco da diária</th>
           </tr>
         </theaad>
           <tbody ng-repeat="produto in produtos">
               <td>{{produto.Produto.Id}}</td>
               <td>{{produto.Produto.Nome}}</td>
               <td>{{produto.Produto.Tipo}}</td>
               <td>R$ {{produto.Produto.PrecoDaDiaria}},00</td>
             </tr>
           </tbody>
     </table>
     <p> <strong>Valor Total: R$ {{valorTotal}},00 </strong></p>
     <p><strong>Número de dias reservado: {{diasDeReserva}} dias</strong></p>
 </div>
</div>
