<div class="menu">
<div class="m">
  <a class="btn btn-default  bi" ng-href="#!/cadastro">Cadastrar</a>
</div>
<div class="m">
  <a class="btn btn-default  bi" ng-href="#!/informaOCliente">Buscar Cliente </a>
</div>
<div class="m">
  <a class="btn btn-default  bi" ng-href="#!/devolucao">Devolução </a>
</div>
<div class="m">
  <a class="btn btn-default  b" ng-href="#!/relatorioDeAtraso">Relatório de Atraso </a>
</div>
<div ng-if="auth.possuiPermissao('Gerente')">
    <a class="btn btn-default  b" ng-href="#!/relatorioDeLocacao">Relatório de Locação </a>
</div>
<div class="">
    <a  class="btn btn-default  b" ng-click="logout()">Logout</a>
</div>
</div>
    <div  class="container">
    <input type = "text" class="form-control"ng-model="search.Nome" placeholder= "buscar cliente"> </input>
    <table class= "tableClass  table table-hover">
      <thead>
        <tr>
            <th>Nome do CLiente</th>
        </tr>
      </theaad>
        <tbody>
          <tr ng-repeat = "cliente in clientes | filter: search">
            <td>{{cliente.Nome}}</td>
            <td><a class="btn btn-default  b1" value"Selecionar" ng-href="#!/clientes/{{cliente.Id}}">Selecionar</td>
          </tr>
        </tbody>
  </table>
      </div>
