<div class="menubar" ng-include="'menu.html'"><br></div>
<input type = "text" name="buscarUsuario" class="buscarUsuario"ng-model="nome" placeholder= "buscar usuário por nome"> </input>
<button type="button" name="nome" class="b2"ng-click="getUsuariosPorNome(nome)">Buscar por Nome</button>
<input type = "text" name="buscarUsuario" class="buscarUsuario"ng-model="esporte" placeholder= "buscar usuário por esporte"> </input>
<button type="button" name="esporte" class="b2" ng-click="getUsuariosPorEsporte(esporte)">Buscar por Esporte</button>

<table class= "buscarGeral" >
  <thead>
    <th></th>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Esporte</th>
  </thead>
  <tbody>
    <tr  ng-repeat ="usuario in usuarios | filter: search">
      <td>
          <img class="img foto" ng-src ="{{usuario.foto}}"  ng-init="usuario.statusSituacao = situacao(usuario.id)"></img>
      </td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.sobrenome}}</td>
      <td>{{usuario.esporte}}</td>
      <td ng-if="situacaoStatus[usuario.id]==''">
        <input type="button" class="btn btn-primary"  value="Add" ng-click ="add(usuario.id)">
      </td>
      <td ng-if="(situacaoStatus[usuario.id].id_enviada != user.id) &&  (situacaoStatus[usuario.id].situacao == 'pendente')">
        <input type="button" class="btn btn-primary" value="Aceitar" ng-click ="aceitar(usuario.id)">
      </td>
    </tr>
  </tbody>
</table>
