<div class="login">
  <h1>Squad Goals</h1>
  <h2>Login</h2>
  <form class="form">
    <input type="text"  name="nome" ng-model="usuario.nome"required="required" placeholder="Nome">
    <input type="text"  name="sobrenome"ng-model="usuario.sobrenome"  required="required" placeholder="Sobrenome">
    <input type="email"  name="email" ng-model="usuario.email"required="required" placeholder="Email">
    <input type="password"  name="password" ng-model="usuario.senha"required="required" placeholder="Senha" >
    <input type="date"  name="date" ng-model="usuario.dataNascimento"required="required" min="1900-01-02">
    <button type="submit"  ng-click="cadastrar(usuario)" class="button">Registrar</button>
    <a id ="buttonA" type="button" ng-href="#!/login" class="button">Login</a>
  </form>
</div>
