    <div class="menu">
      <h1>Squad Goals</h1>

      <input class="form-control" type="text" name="search" value="">
        <p>Olá, {{user.nome}}</p>
      <button id = "button"  class="form-control" type="button" name="configuracoes">
        <span class="glyphicon glyphicon-wrench"></span> </button>
      <button id = "button"  class="form-control" type="button" name="profile">
        <span class="glyphicon glyphicon-user"></span> </button>
        <button id = "button"  class="form-control" type="button"  ng-click="logout()"name="sair">sair</button>
      <button id = "button"  class="form-control" type="button" name="grupos"><span class="glyphicon glyphicon-envelope"></span></button>
      <input id = "button"  class="form-control" type="button" name="novasAmizades" value="solicitação de amizade">
    </div>
  <div class="post">
    <input id="post" class="form-control" type="text" name="post" ng-model="postagem" value="">
    <button  id="postButton" class="form-control" type="button" ng-click="postar(postagem)" name="post">
    <span class="glyphicon glyphicon-ok"></span> </button>
  </div>
  <div class="posts" ng-repeat ="post in posts">
  <p> {{post.conteudo}}   {{post.idUsuario}}</p>
  </div>
