     <div class="container">
         <div class="back">
             <div class="container1">
                <form novalidate name="myForm1">
                    <div class="form-group row row1">
                        <label for="nome">Nome da aula:</label>
                        <div class="incluirbutton">
                          <input class="form-control nome" type="text" name="nome" ng-model="aulaNova.nome" required ng-minlength="3" ng-maxlength="20" placeholder="digite o nome">
                         <button class="btn btn-primary incluir" type="button" ng-click= "salvar(aulaNova)" name="button">Salvar</button>
                       </div>
                   </div>
                  <div class="form-group row row2">
                   <label for="aula">Selecione uma aula para trocar o nome:</label>
                  </div>
              </form>
        <table class= "tableClass  table table-hover table1">
             <thead>
               <th>ID</th>
               <th>Aula</th>
             </thead>
         <tbody>
           <tr ng-repeat ="aula in aulas| orderBy: 'nome'">
               <td>{{aula.id}}</td>
               <td>{{aula.nome}}</td>
               <td><input type="button" class="btn btn-primary" name="excluir" ng-click="deleteClass(aula)" value="Apagar"></td>
               <td><input type="button" class="btn btn-primary" name="editar" ng-click="editar(aula)" value="Editar"></td>
           </tr>
         </tbody>
       </table>
       </div>
    </div>
      </div>
