<!DOCTYPE html>
<html ng-app = "myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script  src="crud.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="crud.css">
    <title>Crud</title>
  </head>
  <body ng-controller="mainController">
     <div class="containerMenu">
        <p> Portal Crescer</p>
     </div>
     <div class="container">
         <div class="back">
             <div class="container1">
                <form novalidate name="myForm1">
                    <div class="form-group row row1">
                        <label for="nome">Nome da aula:</label>
                        <div class="incluirbutton">
                          <input class="form-control nome" type="text" name="nome" ng-model ="nome" required ng-minlength="3" ng-maxlength="20" placeholder="digite o nome"></input>
                              <button class="btn btn-primary incluir" type="button" ng-click= "incluir()" name="button">Incluir</button>
                       </div>
                   </div>
                  <div class="form-group row row2">
                      <label for="aula">Selecione uma aula para trocar o nome:</label>
                      <select  class="custom-select  selecionaAulas"  name="aula" ng-model = "list">
                          <option value="{{aula.nome}}"  ng-repeat = "aula in aulas">{{aula.nome}}</option>
                      </select>
                      <button class="btn btn-primary" type="button" ng-click= "mudar()" name="button">Mudar nome</button>
                  </div>
              </form>
        <table class= "tableClass  table table-hover table1">
             <thead>
               <th>ID</th>
               <th>Aula</th>
             </thead>
         <tbody>
           <tr ng-repeat ="aula in aulas| orderBy: 'nome'">
               <td>{{aula.id}}</td>
               <td>{{aula.nome}}</td>
               <td><input type="button" class="btn btn-primary" name="excluir" ng-click="remover(aula.id)" value="Apagar"></td>
           </tr>
         </tbody>
       </table>
       </div>
    </div>
    <div class="container2">
        <form  novalidate class="myForm2" name="myForm2" action="index.html" method="post">
            <div class="nomeInstrutor">
                <label for="nome">Nome:</label>
                <input class="form-control " type="text" name="nomeInstrutor" ng-model ="nomeInstrutor"  placeholder="Digite  o nome do instrutor"required ng-minlength="3" ng-maxlength="20"></input>
            </div>
            <div class="sobrenome">
                <label for="nome">Sobrenome:</label>
                <input class="form-control" type="text" name="sobrenomeInstrutor" ng-model ="sobrenomeInstrutor"  placeholder="max 30 caracteres" ng-maxlength="20"></input>
            </div>
            <div class="idade">
                <label for="idadeInstrutor">Idade:</label>
                <input class="form-control" type="number" name="idadeInstrutor" ng-model ="idadeInstrutor"  required placeholder="max 90" max="90"></input>
            </div>
            <div class="email">
                <label for="emailInstrutor">Email:</label>
                <input class="form-control" type="email" name="emailInstrutor" ng-model ="emailInstrutor" placeholder="digite o email" required></input>
            </div>
            <div class="foto">
                <label for="nome">Foto:</label>
                <input class="form-control" type="img" name="imgInstrutor" ng-model ="imgInstrutor" placeholder="digite a url"></input>
            </div>
        <div class="terceiraLinha">
           <div class="checkbox">
              <label for="dandoAula"><strong>Dando Aula?</strong></label>
              <input class="form-control" type="checkbox" id="checkbox_id" name="dandoAula"  value="true"ng-model ="dandoAula"></input>
           </div>
           <div class="selecione">
              <label for="aula">Selecione a aula:</label>
              <select class="selectpicker form-control aulaInstrutor"  multiple  name="aulaInstrutor" ng-model = "aulaInstrutor">
                   <option value = "null">nenhuma</option>
                   <option value="{{aula.id}}"  ng-repeat = "aula in aulas">{{aula.nome}}</option>
              </select>
           </div>
           <div class="selecioneInstrutor">
               <label for="instrutor">Selecione um instrutor para alterar os dados:</label>
                <select  class="custom-select"  name="instrutorTroca" ng-model = "listInstrutores">
                  <option value="{{instrutor.nome}}"  ng-repeat = "instrutor in instrutores">{{instrutor.nome}}</option>
               </select>
             </div>
         </div>
             <div class="incluirInstrutor">
                <button class="btn btn-primary" type="button" ng-click= "incluirInstrutor()" name="button">Incluir instrutor</button>
             </div>
                <button class="btn btn-primary mudarInstrutor" type="button" ng-click= "mudarInstrutor()" name="button">Alerar informações do instrutor</button>
       </form>
    <table class= "tableClass  table table-hover table2">
       <thead>
           <th>Foto</th>
           <th>ID</th>
           <th>Nome</th>
           <th>Sobrenome</th>
           <th>Idade</th>
           <th>Email</th>
           <th>Dando aula?</th>
           <th>Aula</th>
     </thead>
     <tbody>
       <tr ng-repeat ="instrutor in instrutores| orderBy: 'nome'">
         <td><img src="{{instrutor.urlFoto}}"></td>
         <td>{{instrutor.id}}</td>
         <td>{{instrutor.nome}}</td>
         <td>{{instrutor.sobrenome}}</td>
         <td>{{instrutor.idade}}</td>
         <td>{{instrutor.email}}</td>
         <td>{{instrutor.dandoAula}}</td>
         <td>
         <div ng-repeat ="aula in instrutor.aula | orderBy: 'nome'">{{aulas[aula].nome}}</div>
         </td>
         <td><input type="button" class="btn btn-primary" name="excluir" value="Apagar"ng-click="removerInstrutor( instrutor.id)"></td>
       </tr>
     </tbody>
    </table>
    </div>
  </div>
  </body>
</html>
