body{
    margin: 0;
  background-image: url("https://images2.alphacoders.com/261/26102.jpg");
 background-repeat: no-repeat;
    padding: 0;
    height:800px;

}

li img {
  background: rgba(0, 0, 0, .5);
}
div{
  width: 100%;
  float: left;
}

.header  p{
  margin-left: 50%;
  transform: translatex(-50%);
  position: absolute;
  width: 100%;
  line-height: 60px;
  font-family: Goudy Stout;
  color: white;
  opacity: 0.7;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  font-size: 30px;
  text-align: center;

}
img {
  width: 80px;
  height: 100px;
  margin-left: 15px;

}
.lancamentosDiv{
  margin-top: 80px;
  width: 100%;
}
.lancamentosDiv p{
  line-height: 60px;
  font-family: Goudy Stout;
  color: white;
  opacity: 0.7;
  font-size: 30px;
  text-align: center;
 margin-top: -10px;
 box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
 background: rgba(26, 27, 28, .8);
}
.lancamentos {
  margin :0;
  margin-top: 60px;

}
ul{
   list-style-type:none;
  width: 20%;
  float: left;
  margin-left: -8px;
}

.todosOsLivrosDiv p{
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  line-height: 60px;
  font-family: Goudy Stout;
  color: white;
  opacity: 0.7;

  font-size: 30px;
  text-align: center;
  margin-top: -10px;
}
li{
  font-family: arial;
  color: white;
  width: 200px;
  font-size: 15px;
}
.todos {
  margin :0;
  margin-top: 60px;
}

.pagina input{
  width: 7%;
}
.livroPorPagina input{
  width: 7%;
}

.detalhes{
  margin-top: 20px;
}

.detalhes li{
 width: 200px;
 margin-left: 220%;
}
.detalhes img{
 width: 200px;
 height: 300px;

}
.home a{
  position: relative;
  height: 60px;
  width: 150px;
  float: left;
  background-color: silver;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  color: white;
}
.logoutb{
  position: relative;
  height: 60px;
  width: 100px;
  float: right;
  background-color: silver;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  color: white;
}


.login {
  margin-left: 50%;
  transform: translatex(-50%);
  margin-top: 80px;
  width: 40%;
}
.loginb{
  position: relative;
  height: 60px;
  width: 100px;
  float: right;
  background-color: silver;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  color: white;
}
.logoutb{
  float: right;
  background-color: silver;
}
form {
  color: white;

}
.crud{
  margin-left: 50%;
  transform: translatex(-50%);
  margin-top: 80px;
  width: 50%;
}
.crudDiv {
  width: 50%;
  float: left;
}
.d2{
  width:25%;
}
.salvar{
  float: left;
}
.d2 button{
  margin-top: 25px;
}
table{
  margin-left: 57%;
  transform: translatex(-50%);
  width: 80%;
  color:white;
}
.paginacao {
width:225px;
margin-left: 41%;
}

.btn-primary {
   box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  border-color: black;
  color: white;
}

.btn-default{
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  border-color: black;
  color: white;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: white;
    background: rgba(26, 27, 28, .8);
    border-color: black;
    border: 1px solid black;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: white;
    cursor: default;
     background: rgba(26, 27, 28, .8);
      border-color: black;
    border-color: black;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: white;
  cursor: not-allowed;
background: rgba(26, 27, 28, .8);
  border-color:black;
}
