body{
  margin: 0;
  background-color: #E6E6FA;
}
.container {
  width: 30%;
  margin-top: 100px;
}
button{
  width: 30px;
}
.menu h1{
  margin: 0px 10px;
  float: left;
  position: relative;

}
.menu input{
  width: 300px;
  float: left;
}
#button  {
  width: 100px;
  float: right;
}

.menu{
  width:100%;
  padding: 5px;
  height: 45px;
  background-color: 	#4682B4;
}

.post{
  margin-top: 10px;
  width: 40%;
  margin-left: 10%;


}
#post{
  width: 80%;
  position: relative;
  float: left;
  margin: 0%;
}
#postButton{
  width: 10%;
  float: left;
}

.postagens{
  width: 60%;
  position: absolute;
  margin-left: 40px;
}
.solicitacoesDeAmizade{
  width: 20%;
  float: right;
  margin-right: 40px;
}
.feed{
  margin-top: 90px;
  width: 100%;
}
