<div class="home">
  <a class="btn btn-default  b1Home" ng-href="#!/livros">
   Home Page</a>
</div>
<form class="login">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" name="nome" ng-model="novoUsuario.nome" placeholder="digite seu nome completo">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control"  name="email" ng-model="novoUsuario.email" placeholder="digite seu e-mail">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" name="senha"  ng-model="novoUsuario.senha"placeholder="digite sua senha">
  </div>
  <button type="submit" ng-click="registrar(novoUsuario)" class="btn btn-primary">Registrar</button>
  <a class="btn btn-default loginbr" ng-href="#!/login">Login</a>

</form>
