body{
  margin: 0;
  background: rgba(26, 27, 28, .8);

}
.menu{
  float: left;
}
.header  p
{
  margin-left: 50%;
  transform: translatex(-50%);
  width: 100%;
  line-height: 60px;
  font-family: Goudy Stout;
  color: white;
  opacity: 0.7;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  font-size: 30px;
  text-align: center;

}
.container {
  transform: translatex(15%);
  margin: 0;
  width: 65%;
  background: linear-gradient(white 0%, silver 100%);
  padding: 10px;
  opacity: 0.9;
  border-style: solid;
  border-radius: 15px;
  margin-top: 80px;
  float: left;
}
.container1 {
   margin-top: 80px;
   position: fixed;
     transform: translatex(55%);
}


.devolucao {
  margin-top: 50px;
  transform: translatex(25%);
  margin: 0;
  width: 30%;
  height: 50%;
  background: linear-gradient(white 0%, silver 100%);
  padding: 10px;
  opacity: 0.9;
  border-style: solid;
  border-radius: 15px;
  float:left;
}
.devolucao1 {
  margin-top: 50px;
  transform: translatex(25%);
  margin: 0;
  width: 60%;
  height: 50%;
  background: linear-gradient(white 0%, silver 100%);
  padding: 10px;
  opacity: 0.9;
  border-style: solid;
  border-radius: 15px;
  float:left;
}
.b{
  position: relative;
  height: 60px;
  width: 210px;
  float: right;
  background-color: silver;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  color: white;
}
.bi{
  position: relative;
  height: 60px;
  width: 210px;
  float: left;
  background-color: silver;
  line-height: 40px;
  font-size: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .9);
  background: rgba(26, 27, 28, .8);
  color: white;
}
.b3{
  transform: translatex(120%);
  width: 510px;
  position: relative;
  height: 60px;
  color: black;

}

.containerProduto {
  margin-top: 50px;
}
.pedido{
  float: right;
}
.l{
  float: left;
}
